/vendor
/testApp/storage/app
/testApp/storage/framework
/testApp/storage/logs
/.DS_Store
/tests/testApp/storage/framework/testing
/tests/testApp/storage/framework
/tests/testApp/storage/logs/laravel.log
