/.idea
/vendor
/.DS_Store
/tests/testApp/storage/framework/testing/*
/tests/testApp/storage/framework/views/*
!/tests/testApp/storage/framework/views/.gitignore
/tests/testApp/storage/app/*
/tests/testApp/storage/logs/*.log
